<div class="jumbotron text-center">
  <h1 class="display-3">Welcome</h1>
  <p class="text-muted">Take down your project ideas in one click.</p>
  <a class="btn btn-lg btn-dark" href="/ideas/add">Add an idea</a>
</div>
