<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center">Account Login</h3>
        <form method="post" action="/user/login">
          <fieldset class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" required/>
          </fieldset>
          <fieldset class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required/>
          </fieldset>
          <button class="btn btn-primary" type="submit" name="button">Login</button>
        </form>
      </div>

    </div>

  </div>

</div>
