<div class="card card-body">
  <h3>Project Ideas</h3>
  <form class="mt-2" action="/ideas" method="post">
    <div class="form-group">
      <label for="ideaTitle">Add idea title</label>
      <input type="text" name="ideaTitle" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Add</button>
  </form>
</div>
